# Basic Operations
osmnx
networkx
pandas
scipy
scikit-learn
ipyleaflet
shapely
plotly
overpass

# Introduction to Geospatial Science
jupyter-book
matplotlib
numpy
geopandas
contextily
folium
geoplot

# Graph Search Algorithms
tqdm
git+git://github.com/SmartMobilityAlgorithms/smart_mobility_utilities@master
